* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: row;
}

.side_nav {
    height: 100%;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
}

.side_nav_header {
    height: 200px;
    font-size: 40px;
    font-weight: bolder;
    color: black;
    padding-top: 100px;
}

.side_nav li {
    list-style-type: none;
    display: flex;

}

.side_nav a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}


.right_container {
    width: 100%;
    height: 100vh;
    padding-left: 300px;
}

.top_nav {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(218, 15, 15);
    top: 0;
    z-index: 1;
    height: 50px;
}

.search {
    display: flex;
    padding-left: 40px;
}

.search button {
    float: left;
    width: 50px;
}

.search_option {
    top: 3rem;
    position: absolute;
    display: none;
    width: 9rem;
    padding: 5px;
    margin-top: 5px;
    border-radius: 6%;
    font-size: 15px;
    overflow: auto;
    background: white;
    box-shadow: 2px 2px 10px gray;
    transition: all .3s ease-in-out;
}

.search_option a {
    text-decoration: none;
    color: black;
}



.All_btn {
    height: 40px;
    width: 90px;
    border-radius: 14px 0px 0px 14px;
    border-right: none;
    font-size: 15px;
    font-weight: bold;
}

.All_btn i {
    padding-left: 5px;
}

input[type=text] {
    height: 40px;
    width: 250px;
    font-size: 20px;
    float: left;
    padding-left: 5px;
}

.submit {
    height: 40px;
    width: 65px;
    float: left;
    border-left: none;
    border-radius: 0px 14px 14px 0px;
}

.Lang {
    height: 40px;
    width: 90px;
    border-radius: 10px;
}

.Lang i {
    padding-left: 8px;
}

.user {
    height: 40px;
    width: 100px;
    margin-right: 20px;

}

.user i {
    padding: 6px;
}

.user_option {
    display: none;
    top: 3rem;
    position: absolute;
    overflow: auto;
    width: 6rem;
    text-align: left;
    margin-top: 5px;
    padding: 5px;
    font-size: 15px;
    background: white;
    border-radius: 6%;
    transition: all .3s ease-in-out;
}

.user_option a {
    text-decoration: none;
    color: black;
}

.inner_container {
    background-color: rgba(211, 208, 208);
    height: 100vh;
}